#notifications {
 display: none;
}

body {
  padding-top: 56px;
}

.logo {
  img {
    width:  30px;
    height: 25px;
    padding-right: 5px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-circle {
 border-radius: 50%;
 margin-bottom: 5px;
}

#post-banner .jumbotron { 
  background: image-url("banner-post.jpg") no-repeat center center;
  background-size: cover ;
}

#feature-banner .jumbotron { 
  background: image-url("banner-feature.jpg") no-repeat center center;
  background-size: cover ;
}

#sale-banner .jumbotron { 
  background: image-url("banner-sale.jpg") no-repeat center center;
  background-size: cover ;
}

#home-banner .jumbotron { 
  background: image-url("banner-home.jpg") no-repeat center center;
  background-size: cover ;
  height: 400px;
}

#blog-banner .jumbotron {
  background: image-url("banner-blog.jpg") no-repeat center center;
  background-size: cover ;
}

#mvp-banner .jumbotron {
  background: image-url("banner-mvp.jpg") no-repeat center center;
  background-size: cover ;
  height: 250px;
}

.main-banner .jumbotron {
  h1, p {
     color: #fff;
    text-shadow:  1px 1px 2px #777;
  }
}