<main role="main" class="main-banner" id="blog-banner">
  <div class="container mt-5 mb-4 border-bottom">
    <h1 class="h2">Advertising (coming soon)</h1>
    <p class="lead">Promote your company to an audience that has interest in Location property.</p>
  </div>
</main>

<div class="container mb-5">
  <div class="row">
    <div class="col col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <div class="row mt-5">
        <div class="col-md-6 col-xl-5">
          <p class="h4">Home page Banner</p>
          <p>This ad banner will appear on the homepage (above blog section).</p>

          <p class="h4 mt-5">Skyscraper Banner</p>
          <p>This ad banner will appear on the sidebar of the property listings pages.</p>
        </div>
        <div class="col-md-6 col-xl-5">
          <p class="h4">Listings Banner (Sale)</p>
          <p>This ad banner will appear in between properties on the for sale listings.</p>

          <p class="h4 mt-5">Listings Banner(latest</p>
          <p>This ad banner will appear in between properties on the feature listings.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
    </div>
  </div>
</div>
<hr>
<%= render "shared/footer" %>
