<main role="main" class="main-banner" id="blog-banner">
  <div class="container mt-5 mb-4 border-bottom">
    <h1 class="h2">Advertising (coming soon)</h1>
    <p class="lead">Promote your company to an audience that has interest in Location property.</p>
  </div>
</main>

<div class="container mb-5">
  <div class="row">
    <div class="col col-md-8">
      <p>This is a MVP for web Application of Location Property. I can perform all operation of CRUD and use a pattern MVC.
       I don't finished this application maybe I know what is the next feature for this project if i want to upgrade the 
       application and explore more development.</p>

      <div class="row mt-5">
        <div class="col-md-6 col-xl-5">
          <p class="h4">TDD</p>
          <p>I would like to initate and implement a test for this application with Rspec.</p>

          <p class="h4 mt-5">Authorization</p>
          <p>I would like to upgrade this application with pundit authorization.</p>
        </div>
        <div class="col-md-6 col-xl-5">
          <p class="h4">Mapbox</p>
          <p>I would like to upgrade the google street MAP with API Mapbox.</p>

          <p class="h4 mt-5">Booking and checkout</p>
          <p>I would like to upgrade the feature of booking and add Stripe API to checkout.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
    </div>
  </div>
</div>
<hr>
<%= render "layouts/footer" %>
