<main role="main" class="main-banner" id="blog-banner">
  <div class="container mt-5 mb-4 border-bottom">
    <h1 class="h2">Contact Us</h1>
    <p class="lead">Get in touch to learn more about what we can do to help.</p>
  </div>
</main>

<div class="container mb-5">
  <div class="row">
    <div class="col col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="row mt-5">
        <div class="col-md-6 col-xl-5">
          <p class="h4"><i class="fab fa-twitter text-info mr-2"></i> Twitter</p>
          <p>@Locationproperty</p>

          <p class="h4 mt-5"><i class="fas fa-envelope text-alert mr-2"></i> Email</p>
          <p>location@property.com</p>
        </div>
        <div class="col-md-6 col-xl-5">
          <p class="h4"><i class="fab fa-facebook text-primary mr-2"></i> Facebook</p>
          <p>fb.com/Locationproperty</p>

          <p class="h4 mt-5"><i class="fab fa-instagram text-warning mr-2"></i> Instagram</p>
          <p>@Locationproperty</p>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <iframe class="ml-lg-4 mt-3" width="320" height="240" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBwOWZ_C1sw6lYJhxYk_LJJCI2uM9GW8IA&q=220 avenue de l'argonne,merignac,bordeaux,france " allowfullscreen></iframe>
    </div>
  </div>
  <hr>
</div>
<%= render "shared/footer" %>