<main role="main" class="main-banner" id ="mvp-banner">
  <div class="jumbotron">
 </div>
  <div class="container m-t-30">
     <h1 class="text-center">Presentation of project</h1> 
    <div class="row mt-5">
      <div class="col-md-6">
        <div id="product-main-img">
          <img class="img-fluid img-thumbnail" src="https://res.cloudinary.com/dbtnehfrf/image/upload/v1620747795/home_page_munt8f.png" />
        </div>
        <div class="product-thumbnails">
        <div class="row">
          <div class="col-4 m-b-10">
            <img class="m-0 active" data-src="https://res.cloudinary.com/dbtnehfrf/image/upload//c_scale,h_150,w_150/v1620747795/home_page_munt8f.png" src="https://res.cloudinary.com/dbtnehfrf/image/upload//c_scale,h_150,w_150/v1620747795/home_page_munt8f.png" />
          </div>
          <div class="col-4 m-b-10">
            <img class="m-0 "  data-src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747804/feature_page_dc0idy.png" src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747804/feature_page_dc0idy.png" />
          </div>
          <div class="col-4 m-b-10">
            <img class="m-0 " data-src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747853/Blog_page_wd9d86.png" src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747853/Blog_page_wd9d86.png" />
          </div>
          <div class="col-4 m-b-10">
            <img class="m-0 " data-src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747821/dashboardProfile_dofcpj.png" src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747821/dashboardProfile_dofcpj.png" />
          </div>
          <div class="col-4 m-b-10">
            <img class="m-0 " data-src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747831/dashboardProfile2_s0kabk.png" src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747831/dashboardProfile2_s0kabk.png" />
          </div>
          <div class="col-4 m-b-10">
            <img class="m-0 " data-src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747844/dashboardProprty_a2ansr.png" src="https://res.cloudinary.com/dbtnehfrf/image/upload/c_scale,h_150,w_150/v1620747844/dashboardProprty_a2ansr.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form class="new_order_item" id="new_order_item" action="/products/1" accept-charset="UTF-8" method="get">
        <p class="h4 text-uppercase text-orange">Product Details</p>
        <p class="font-18 text-muted">Get the starter code for your project</p>
        <p>Allow users to browse existing properties, create an account, sign in and post their own properties. Users can visit their own dashboard to see their properties.</p>
        <p><strong>Functionality included:</strong></p>

        <p>- Browse existing properties
        <br />- Sign up / sign in / forgot password
        <br />- Upload new properties
        <br />- User dashboard to view properties</p>

        <p><strong>About the code:</strong></p>

        <p>- Built with Ruby on Rails 6
        <br />- Ready to deploy to live website
        <br />- Ready to upload all images in a cloud
        <br />- Instructions on how to setup included</p>

        <p><strong>Need help with your MVP?</strong></p>

        <p>- I can customize product design and add others features</p>

        <div class="m-t-30">
          <input type="submit" name="commit" value="Add to Cart" class="btn btn-success btn-lg font-20 pull-left m-b-30 m-r-5" data-disable-with="Add to Cart" />
        
          <p class="product-price font-28 m-b-10 brandon-bold text-black m-l-15 pull-left">
            199.00€ <s class="m-l-10 font-18 text-muted">299.00€</s>
          </p>
        </div>
      </form> 
    </div>
  </div>
</div>

<%= render "layouts/footer" %>