<div class="container">
  <div class="row py-4">
    <div class="col-md-3">
      <%= image_tag @order.product.photo_url, width: '100%' %>
        <p><strong>Included:</strong></p>
        <p>- Ready to deploy website.
        <br />- Setup to upload images.
        <br />- Setup your payment cards.
        <br />- Setup your system of mailling.
        <br />- Setup Admin users.
        <br />- Logo and design.
        <br />- 1 unit free/dev. service.</p>
    </div>
    <div class="col">
      <h1>Checkout summary</h1>
      <div class="col-sm-12 col-md-6">
        <p><strong>About the code:</strong></p>

        <p>- Built with Ruby on Rails 6.
        <br />- Ready to deploy to live website.
        <br />- Ready to upload all images in a cloud.
        <br />- Ready to configure your system of payment.
        <br />- Ready to configure your system of mailling.
        <br />- Upload Credit card when user want booking. 
        <br />- Instructions on how to setup included.</p>

        <p><strong>Functionality included:</strong></p>
        <p>- Browse existing properties.
        <br />- Sign up / sign in / forgot password.
        <br />- Upload new properties.
        <br />- User can create a post.
        <br />- User dashboard to view properties.</p>

        <p><strong>Need help with your MVP?</strong></p>

        <p>- I can customize product design (1 unit free)</p>
        <p>- Add a 1 unit for more developement (+150€)</p>

        <button id="pay" class="btn btn-primary">Pay <strong><%= @order.amount %>€</strong></button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script> 
      </div>
    </div>
  </div>
</div>